
ul
{
	display: flex;
	padding: 10px;
	margin-left: 200px;
	list-style: none;
}

li
{
	padding-left: 200px;
	
	
	
	
}
nav
{
	background-color: black;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: 'RocknRoll One', sans-serif;
	font-size: large;
}
#in
{
	
	text-align: center;
	padding-top: 90px;
	font-family: 'Pattaya', sans-serif;
}

.full
{
	background-image: url(./my1.jpg);
	
	height: 500px;
}
nav{
	
	height: 60px;
}
nav ul li a
{
	color: white;
}
#d
{
	border-style: solid;
	margin-top: 40px;
	width: 30%;
	height: 200px;
	
	
}
#s
{
	border-style: solid;
	margin-top: 40px;
	width: 30%;
	height: 200px;
	margin-left: 70%;
	
}
#t
{
	border-style: solid;
	margin-top: 40px;
	width: 30%;
	height: 200px;
	
}
#r
{
	text-align: left;
	padding-top: 3em;
	font-size: x-large;
	margin-left: 1em;


}
#r2
{
	text-align: right;
	margin-top: 6em;
	margin-right: 2em;
	font-size: x-large;
	padding-top: 3.5em;

}
#r3
{
	text-align: left;
	margin-top: 6em;
	font-size: x-large;
	margin-left: 1em;
	
}
.intro
{

margin-top:40px;
height: 70%;
}
.btn:hover
{
 color: lawngreen;
background-color: black;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover{
	color:#455;
}
footer{
   color: limegreen;
	background-color: black;
	background-size: 40%;
	height: 30vh;
}
